<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlink.dao.JobJdbcDatasourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zlink.entity.JobJdbcDatasource">
        <id column="id" property="id" />
        <result column="datasource_name" property="datasourceName" />
        <result column="datasource" property="datasource" />
        <result column="datasource_group" property="datasourceGroup" />
        <result column="database_name" property="databaseName" />
        <result column="jdbc_username" property="jdbcUsername" />
        <result column="jdbc_password" property="jdbcPassword" />
        <result column="jdbc_url" property="jdbcUrl" />
        <result column="jdbc_driver_class" property="jdbcDriverClass" />
        <result column="zk_adress" property="zkAdress" />
        <result column="status" property="status" />
        <result column="comments" property="comments" />
        <result column="gid" property="gid" />
        <result column="enterprise_id" property="enterpriseId" />
        <result column="create_uid" property="createUid" />
        <result column="create_uname" property="createUname" />
        <result column="create_time" property="createTime" />
        <result column="update_uid" property="updateUid" />
        <result column="update_uname" property="updateUname" />
        <result column="update_time" property="updateTime" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <select id="pageDataSource" resultMap="BaseResultMap">
        select * from job_jdbc_datasource
    </select>
</mapper>
