<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlink.dao.LoginMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zlink.entity.JobSysUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="role_id" property="roleId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_status" property="deleteStatus"/>
    </resultMap>

    <select id="getUser" resultType="java.util.Map">
        SELECT u.id       userId,
               u.username username,
               u.password password,
               u.nickname nickName
        FROM job_sys_user u
        WHERE u.username = #{username}
          AND u.password = #{password}
          AND u.delete_status = 0
    </select>
</mapper>
